
<p style="color: green"><%= notice %></p>
<%=button_to "Sign_out",destroy_user_session_path, method: :delete, form: {data: {turbo_confirm: "Are You Sure"}}%>
<h1>Users</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  <%@users.each do |users|%>
    <tr>
    <th scope="row"><%=users.id%></th>
    <td><%=users.name%></td>
    <td><%=users.username%></td>
    <td><%=users.email%></td>
    <td><%= link_to "show", user_path(users.id),class:"btn btn-light" %></td>
  </tr>
    <%end%>
   
  </tbody>
</table>

<%= link_to "New user", new_user_path %>
